body {
    margin: 0px;
    padding:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #A1C9FF;
    color: #EEF5FF;
}
.header {
    background-color: #4490FF;
    padding: 20px;
    display: flex;
    justify-content: center;
}

h3 {
    text-align: center;

}
.winlose, .game-point {
    display:flex;
    justify-content: center;

    margin: 50px;
}
.scoreboard {
    display: flex;
    justify-content: center;

    margin: 30px;    
    gap: 150px;
}

.p-score, .c-score {
    width: 110px;
    border: 3px solid #014BDF;
    border-radius: 1em;

}

.player1, .player2 {
    border-bottom: 3px solid #014BDF;
    padding: 4px;
    text-align: center;
}

.score1, .score2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 35px;
}



.players {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.player, .computer {
    display:flex;
    align-items: center;
    gap: 20px;
}

button {
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 3em;
    min-width: 135px;

    color: #EEF5FF;
    background-color: #014BDF;
}
span {
    font-size: 100px;
}